<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta name="viewport" content="width=470, maximum-scale=1, user-scalable=no, target-densitydpi=device-dpi">
    <title>位置信息</title>

    <link href="./css/main.css" rel="stylesheet">
    <link href="./css/bootstrap.css" rel="stylesheet">

    <script src="./js/jquery-3.2.1.js"></script>
    <script src="./js/sim-0.26-debug.js"></script>
    <script src="./js/fabric.js"></script>
    <script src="./js/user_tracking.js"></script>
    <script src="./js/random_move.js"></script>
    <script src="./js/show_location.js"></script>
    <script src="./js/location_tracking.js"></script>
    <script src="./js/main.js"></script>

</head>

<body>
    <div class="title">
        <!-- <h2>位置信息</h2> -->
    </div>


    <div class="container pt-5">
        <div class="row">
            <div class="col-8">
                <div class="main_container">
                    <div class="background_image"><img src="./image/map.png" /></div>
                    <div class="location_tracking">
                        <canvas id="location_canvas"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <button type="button" class="btn btn-primary">历史轨迹</button>
                <button type="button" class="btn btn-primary">显示轨迹</button>
            </div>
        </div>
    </div>



    <!-- JS FOR SCROLLING THE ROW OF THUMBNAILS -->
    <script type="text/javascript">

    </script>



</body>

</html>
